.recent {
  display: flex;
  flex-direction: column;
}
.RecentDis {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
}

.PlayDis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.audioPlayer {
  position: sticky;
  bottom: 0;
}
